$color_1: #3a8481;
$color_2: white;
$color_3: #fff;
$color_4: #3dccc7;
$color_5: #e07c09;
$color_6: #00393b;
$color_7: #8a8a8a;
$font-family_1: 'Josefin Sans', sans-serif;
$background-color_1: #fff;
$background-color_2: #e07c09;
$background-color_3: #3a8481;
$background-color_4: #001a1b;
$border-color_1: #3a8481;